body{
    background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
/*Nav Bar component*/
.appbar{
    background: linear-gradient(to right, #333333, #dd1818); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.heading2{
    text-align: center;
    color:rgb(217, 240, 12);
    font-weight: bold;
    font-family:Acme; 
    text-shadow: 2px 2px 4px whitesmoke
}
/*Nav Bar component*/    